{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page Title -->
    <title>Pythoncoding4u</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&amp;display=swap" rel="stylesheet">
    <!-- Config -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/config.css' %}">
    <!-- Libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/libs.css' %}">
    <!-- Template Styles -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}" sizes="32x32">
</head>
<body>
    <!-- Header -->
    <header id="bringer-header" class="is-frosted is-sticky" data-appear="fade-down" data-unload="fade-up">
        <!-- Desktop Header -->
        <div class="bringer-header-inner">
            <!-- Header Logo -->
            <div class="bringer-header-lp">
                <a href="{% url 'home' %}" class="bringer-logo">
                    <img src="{% static 'img/logo.png' %}" alt="bringer." width="180" height="24">
                </a>
            </div>
            <!-- Main Menu -->
            <div class="bringer-header-mp">
                <nav class="bringer-nav">
                    <ul class="main-menu" data-stagger-appear="fade-down" data-stagger-delay="75">
                        <li id="home" class="current-menu-parent">
                            <a href="{% url 'home' %}">Home</a>
                        </li>
                        <li id="about">
                            <a href="{% url 'about' %}">About Us</a>
                        </li>
                        <li id="project">
                            <a href="{% url 'projects' %}">Projects</a>
                        </li>
                        
                        <li id="service">
                            <a href="{% url 'services' %}">Services</a>
                        </li>

                        <!-- <li id="blog">
                            <a href="#">Blogs</a>
                        </li> -->
                        <li id="contact">
                            <a href="{% url 'contact' %}">Contacts</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Header Button -->
            <div class="bringer-header-rp">
                <a href="#" class="bringer-button">Get a FREE Quote</a>
            </div>
        </div>
        <!-- Mobile Header -->
        <div class="bringer-mobile-header-inner">
            <a href="{% url 'home' %}" class="bringer-logo">
                <img src="{% static 'img/logo.png' %}" alt="bringer." width="160" height="24">
            </a>
            <a href="#" class="bringer-mobile-menu-toggler">
                <i class="bringer-menu-toggler-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </i>
            </a>
        </div>
    </header>

<!-- Header End -->

