

{% load static %}
{% include 'header.html' %}

    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Section: Page Title -->
            <section class="backlight-bottom">
                <div class="stg-row">
                    <div class="stg-col-6 stg-offset-3 align-center stg-tp-col-10 stg-tp-offset-1">
                        <h1 class="bringer-page-title" data-appear="fade-up" data-unload="fade-up">Our Services</h1>
                        <p class="bringer-large-text" data-split-appear="fade-up" data-delay="100" data-split-unload="fade-up">We offer a wide ↔ range of creative services to help businesses of all sizes achieve 🏆 their goals.</p>
                    </div>
                </div>
            </section>

            <!-- Section: Intro -->
            <!-- <section class="backlight-top">
         
                <div class="bringer-parallax-media stg-bottom-gap-l" data-appear="fade-up" data-unload="fade-up">
                    <img class="bringer-lazy" src="img/null.png" data-src="img/inner-pages/services.jpg" alt="Bringer Services" width="1920" height="960">
                </div>

                <div class="stg-row stg-bottom-gap">
                    <div class="stg-col-6" data-unload="fade-left">
                        <h2 class="stg-bottom-gap" data-split-appear="fade-up">Discover the spark ✨ with Bringer's Services.</h2>
                    </div>
                    <div class="stg-col-6"></div>
                </div>

    
                <div class="stg-row stg-tp-column-reverse">
                    <div class="stg-col-6 stg-valign-bottom" data-unload="fade-left">
                        <div class="align-right">
                            <a href="pricing.html" class="bringer-icon-link" data-appear="fade-right">
                                <div class="bringer-icon-link-content">
                                    <h6>
                                        Unleash your
                                        <br>
                                        Brand's potential
                                    </h6>
                                    <span class="bringer-label">Discover Price List</span>
                                </div>
                                <div class="bringer-icon-wrap">
                                    <i class="bringer-icon bringer-icon-explore"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-col-9 stg-tp-bottom-gap" data-appear="fade-left" data-unload="fade-right">
                        <p class="bringer-large-text">Unleash your brand's full potential. Your brand is a fire waiting to be ignited. We provide the fuel, the spark, and the expert guidance to watch your brand blaze a trail and captivate the world. Explore our services and discover how Bringer can help you achieve your goals.</p>
                    </div>
                </div>
            </section> -->





            <!-- Section: Our Services -->
            <section class="">
                <!-- Section Title -->
                <div class="stg-row bringer-section-title">
                    <div class="stg-col-10 stg-offset-1">
                        <div class="align-center">
                            <h2 data-split-appear="fade-up" data-split-unload="fade-up">The full spectrum of brand 🪄 magic. Choose your adventure.</h2>
                        </div>
                    </div>
                </div>
                <!-- Services List -->
                <div class="bringer-detailed-list-wrap" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                    <ul class="bringer-detailed-list" id="service-list">

                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Branding<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>We weave visual stories and craft strategic messaging that resonate at heartstrings, build unwavering trust, and turn customers into fervent brand champions. Imagine seeing your logo come alive, not just a symbol but a rallying cry, an unwavering beacon in a sea of sameness. That's the power of branding we unleash.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>

                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Marketing<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>We design data-driven campaigns that crackle with energy, ignite engagement like wildfire, and turn clicks into conversions. Picture social media abuzz with your brand, blog posts sparking curiosity, and targeted ads finding their perfect match. We're the storm that propels your brand to ever-higher heights.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Graphic Design<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>We craft visual masterpieces that sing your brand's story in vibrant colors and captivating shapes. From logos that lodge in minds to infographics that make complex ideas sing, we inject emotional punch and crystal-clear clarity into every pixel. Let your visuals become the unforgettable face of your brand.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Web Design<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>We sculpt user-friendly websites that convert visitors into loyal devotees, seamlessly blending stunning aesthetics with intuitive navigation and flawless experiences for every screen. Imagine your website as a warm, inviting space where potential customers linger, explore, and ultimately succumb to its charms. We craft that digital haven.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>Content Creation<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>We weave compelling narratives into blog posts, website copy, and social media content that resonate with your audience like a well-loved symphony. Picture search engines whispering your brand's name, and customers sharing your story with eager ears. We craft the voice that makes your brand sing.</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="service-details.html"></a>
                        </li>
                    </ul>
                </div>
            </section>

            <!-- Section: Marquee -->
            <section class="is-fullwidth is-stretched" data-padding="none">
                <div class="bringer-marquee" data-speed="5000">
                    <div class="bringer-marquee-inner">
                        <ul class="bringer-marquee-list">
                            <li>
                                <h2>Unleash Your Creativity</h2>
                            </li>
                            <li>
                                <h2>Spark Imagination</h2>
                            </li>
                            <li>
                                <h2>Creative Firestorms</h2>
                            </li> 
                            <li>
                                <h2>Ignite Results</h2>
                            </li>
                        </ul>
                    </div><!-- .bringer-marquee-inner -->
                </div><!-- .bringer-marquee -->
            </section>

            <!-- Section: What Makes Us Best -->
            <section class="backlight-bottom">
                <!-- Section Title -->
                <div class="stg-row bringer-section-title">
                    <div class="stg-col-8 stg-offset-2">
                        <div class="align-center">
                            <h2 data-appear="fade-up" data-unload="fade-up">What Makes Us Best</h2>
                            <p class="bringer-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">We are a passionate team of designers and developers who believe in the power of creativity. We help creative professionals create a strong online presence that showcases their work and tells their story.</p>
                        </div>
                    </div>
                </div>
                <!-- Content Grid -->
                <div class="bringer-grid-2cols bringer-tp-grid-1col" data-stagger-appear="zoom-in" data-stagger-delay="100" data-delay="100" data-unload="fade-up">
                    <!-- Card Item 01 -->
                    <div class="bringer-block">
                        <h4>We don't just design, we <span class="bringer-accent">unleash creative</span> firestorms<span class="bringer-accent">.</span></h4>
                        <p>Tired of bland marketing and cookie-cutter websites? We infuse your brand with bold ideas and strategic brilliance, igniting campaigns that capture hearts and drive tangible results. Forget sparklers, we're here to light the fire.</p>
                    </div><!-- .bringer-block -->
                    <!-- Card Item 02 -->
                    <div class="bringer-block">
                        <h4>We <span class="bringer-accent">fuel creativity</span> with data, guide passion with precision<span class="bringer-accent">.</span></h4>
                        <p>We're not just artistic dreamers, we're strategic alchemists. We blend data-driven insights with unbridled passion, ensuring your campaigns reach the right audience, hit the right chords, and deliver measurable results. Because passion without direction is a beautiful mess.</p>
                    </div><!-- .bringer-block -->
                    <!-- Card Item 03 -->
                    <div class="bringer-block">
                        <h4>We craft <span class="bringer-accent">emotional connections</span>, not just visuals and copy<span class="bringer-accent">.</span></h4>
                        <p>We delve deeper than pixels and prose. We understand the human heart, the language of emotions. We weave stories that resonate, visuals that linger in minds, and content that sparks conversations. Because true connection is the foundation of brand loyalty.</p>
                    </div><!-- .bringer-block -->
                    <!-- Card Item 04 -->
                    <div class="bringer-block">
                        <h4>We don't just work with you, we become your <span class="bringer-accent">creative champions.</span></h4>
                        <p>We don't see clients, we see collaborators. We believe in building partnerships, in understanding your vision, and becoming an extension of your team. Your goals are our canvas, your success our masterpiece. We paint your dreams into reality, together.</p>
                    </div><!-- .bringer-block -->
                </div>
            </section>

            <!-- Section: Grid CTA -->
            <section>
                <div class="bringer-bento-grid bringer-grid-cta">
                    <div class="is-large bringer-masked-block" data-appear="fade-right" data-unload="fade-left">
                        <div class="bringer-grid-cta-media bringer-masked-media" data-bg-src="img/cta/grid-cta-background.jpg">
                            <div class="bringer-grid-cta-heading">Need to amplify your voice?</div>
                        </div>
                        <div class="bringer-masked-content at-bottom-right">
                            <p class="bringer-large-text" data-appear="fade-right" data-delay="100">Let's chat about your goals &rarr;</p>
                        </div>
                    </div>
                    <div class="is-medium bringer-block" data-appear="fade-down" data-unload="fade-right">
                        <h3>We will design campaigns that make the world listen</h3>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="100" data-unload="zoom-out">
                        <a href="{% url 'contact' %}" class="bringer-square-button">
                            <span class="bringer-icon bringer-icon-explore"></span>
                        </a>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="200" data-unload="zoom-out">
                        <img src="{% static 'img/cta/grid-cta-02.jpg' %}" alt="Let's Chat" width="960" height="960">
                    </div>
                </div>
            </section>

        </div><!-- .stg-container -->



        {% include 'footer.html' %}

        <script>


           


            $(document).ready(function() {

                $('#home').removeClass('current-menu-parent');
                $("#service").addClass('current-menu-parent');
                // URL of the service list API
                var apiUrl = "{% url 'serviceapi' %}";
    
                // Function to create the service list item HTML
                function createServiceListItem(service) {
                    return `
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>${service.service_name}<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>${service.meta_description}</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="/services/${service.slug}"></a>
                        </li>
                    `;
                }
    
                // AJAX call to fetch the service data
                $.ajax({
                    url: apiUrl,
                    type: 'GET',
                    dataType: 'json',
                    success: function(services) {
                        var serviceList = $('#service-list');
                        serviceList.empty(); // Clear any existing content
                        services.forEach(function(service) {
                            serviceList.append(createServiceListItem(service));
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('Failed to fetch services:', error);
                    }
                });
            });


        </script>