{% load static %}
{% include 'header.html' %}

    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Section: Intro -->
            <section>
                <div class="stg-row stg-large-gap stg-tp-normal-gap stg-tp-column-reverse">
                    <div class="stg-col-6 stg-vertical-space-between" data-unload="fade-left">
                        <div class="stg-tp-bottom-gap">
                            <h1 class="bringer-page-title" data-split-appear="fade-up">{{services.service_name}}</h1>
                            <p class="bringer-large-text" data-appear="fade-right" data-delay="100">{{services.long_description | safe}}</p>
                           
                        </div>
                        <div class="align-right" data-appear="fade-right">
                            <a href="{% url 'contact' %}" class="bringer-icon-link">
                                <div class="bringer-icon-link-content">
                                    <h6>
                                        Unleash your
                                        <br>
                                        Brand's potential
                                    </h6>
                                    <span class="bringer-label">Contact Now</span>
                                </div>
                                <div class="bringer-icon-wrap">
                                    <i class="bringer-icon bringer-icon-explore"></i>
                                </div>
                            </a><!-- .bringer-icon-link -->
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-bottom-gap-l" data-appear="fade-left" data-unload="fade-right">
                        <img class="bringer-lazy" src="{{services.image.url}}" data-src="{{services.image.url}}" alt="Brainding" width="800" height="1200">
                    </div>
                </div>
            </section>

            <!-- Section: Details -->
            <section class="backlight-both">
                <!-- Section Title -->
                <div class="stg-row stg-bottom-gap-l">
                    <div class="stg-col-7">
                        <h2 data-split-appear="fade-up" data-unload="fade-up">The Procedure We Follow on <span style="color:#3577AE">{{services.service_name}}</span></h2>
                    </div>
                    <div class="stg-col-5"></div>
                </div>

                {% for i in services.process.all %}

                <!-- Details 01 Row -->
                        {{i.top_tag | safe}}
                        <div class="bringer-parallax-media">
                            <img class="bringer-lazy" src="{{i.image.url}}" data-src="{{i.image.url}}" alt="Branding 01" width="960" height="960">
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-col-6" data-appear="fade-right" data-delay="100">
                        <span class="bringer-label">Setp {{i.number}}</span>
                        <h4>{{i.title}}</h4>
                        <p>{{i.description}}</p>
                    </div>

                    {{i.bottom_tag | safe}}
                    
                </div>




                {% endfor %}

             
                
            </section>

            <!-- Section: Offer -->
            <section>
                <!-- Services Grid -->
                <div class="bringer-grid-3cols bringer-tp-grid-2cols bringer-tp-stretch-last-item" data-stagger-appear="fade-up" data-stagger-unload="fade-up">
                    <!-- Item 01 -->
                    <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                        <h5>More than just visuals<span class="bringer-accent">.</span></h5>
                        <p>We build emotional connections that create loyal brand advocates.</p>
                    </div>
                    <!-- Item 02 -->
                    <div class="bringer-block stg-aspect-square stg-vertical-space-between">
                        <h5>Beyond just a logo design<span class="bringer-accent">.</span></h5>
                        <p>Beyond just designing a logo, we craft a story that captures hearts and minds.</p>
                    </div>
                    <!-- Item 03 -->
                    <div class="bringer-masked-block bringer-grid-more-masked">
                        <div class="bringer-block stg-aspect-square stg-vertical-space-between is-accented bringer-masked-media">
                            <h5>A brand isn't just a name<span class="bringer-accent">.</span></h5>
                            <p class="bringer-large-text">It's a movement. 👉 Let Bringer ignite it.</p>
                        </div>
                        <div class="bringer-masked-content at-bottom-right">
                            <span class="bringer-square-button is-secondary">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </span>
                        </div>
                        <a href="contacts.html"></a>
                    </div>
                </div>
            </section>

        </div><!-- .stg-container -->




    {% include 'footer.html' %}


    <script>


        $('#home').removeClass('current-menu-parent');
        $("#service").addClass('current-menu-parent');


    </script>