

{% load static %}
{% include 'header.html' %}

    <!-- Page Main -->
    <main id="bringer-main">
        <div class="stg-container">
            <!-- Section: Page Title -->
            <section class="backlight-bottom">
                <div class="stg-row">
                    <div class="stg-col-6 stg-offset-3 align-center stg-tp-col-10 stg-tp-offset-1">
                        <h1 class="bringer-page-title" data-appear="fade-up" data-unload="fade-up">Our Services</h1>
                        <p class="bringer-large-text" data-split-appear="fade-up" data-delay="100" data-split-unload="fade-up">Discover the range of services we offer to help you achieve your digital goals.</p>
                    </div>
                </div>
            </section>

            <!-- Section: Intro -->
            <!-- <section class="backlight-top">
         
                <div class="bringer-parallax-media stg-bottom-gap-l" data-appear="fade-up" data-unload="fade-up">
                    <img class="bringer-lazy" src="img/null.png" data-src="img/inner-pages/services.jpg" alt="Bringer Services" width="1920" height="960">
                </div>

                <div class="stg-row stg-bottom-gap">
                    <div class="stg-col-6" data-unload="fade-left">
                        <h2 class="stg-bottom-gap" data-split-appear="fade-up">Discover the spark ✨ with Bringer's Services.</h2>
                    </div>
                    <div class="stg-col-6"></div>
                </div>

    
                <div class="stg-row stg-tp-column-reverse">
                    <div class="stg-col-6 stg-valign-bottom" data-unload="fade-left">
                        <div class="align-right">
                            <a href="pricing.html" class="bringer-icon-link" data-appear="fade-right">
                                <div class="bringer-icon-link-content">
                                    <h6>
                                        Unleash your
                                        <br>
                                        Brand's potential
                                    </h6>
                                    <span class="bringer-label">Discover Price List</span>
                                </div>
                                <div class="bringer-icon-wrap">
                                    <i class="bringer-icon bringer-icon-explore"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="stg-col-6 stg-tp-col-9 stg-tp-bottom-gap" data-appear="fade-left" data-unload="fade-right">
                        <p class="bringer-large-text">Unleash your brand's full potential. Your brand is a fire waiting to be ignited. We provide the fuel, the spark, and the expert guidance to watch your brand blaze a trail and captivate the world. Explore our services and discover how Bringer can help you achieve your goals.</p>
                    </div>
                </div>
            </section> -->





            <!-- Section: Our Services -->
            <section class="">
                <!-- Section Title -->
             
                <!-- Services List -->
                <div class="bringer-detailed-list-wrap" data-appear="fade-up" data-delay="200" data-unload="fade-up">
                    <ul class="bringer-detailed-list" id="service-list">

                      
                    </ul>
                </div>
            </section>

            <!-- Section: Marquee -->
            <section class="is-fullwidth is-stretched" data-padding="none">
                <div class="bringer-marquee" data-speed="5000">
                    <div class="bringer-marquee-inner">
                        <ul class="bringer-marquee-list">
                            <li>
                                <h2>Innovation and Creativity</h2>
                            </li>
                            <li>
                                <h2>Commitment to Excellence</h2>
                            </li>
                            <li>
                                <h2>Client Success</h2>
                            </li> 
                            <li>
                                <h2>Continuous Learning</h2>
                            </li>
                            <li>
                                <h2>Team Collaboration</h2>
                            </li>
                            <li>
                                <h2>Impactful Solutions</h2>
                            </li>
                        </ul>
                    </div><!-- .bringer-marquee-inner -->
                </div><!-- .bringer-marquee -->
            </section>

            <!-- Section: What Makes Us Best -->
            <section class="backlight-bottom">
                <!-- Section Title -->
                <div class="stg-row bringer-section-title">
                    <div class="stg-col-8 stg-offset-2">
                        <div class="align-center">
                            <h2 data-appear="fade-up" data-unload="fade-up">What Makes Us Best</h2>
                            <p class="bringer-large-text" data-appear="fade-up" data-delay="100" data-unload="fade-up">At PythonCoding4U, we stand out in the industry due to our unwavering commitment to excellence, innovation, and client satisfaction. Here are the key factors that set us apart:</p>
                        </div>
                    </div>
                </div>
                <!-- Content Grid -->
                <div class="bringer-grid-2cols bringer-tp-grid-1col" data-stagger-appear="zoom-in" data-stagger-delay="100" data-delay="100" data-unload="fade-up">
                    <!-- Card Item 01 -->
                    <div class="bringer-block">
                        <h4>Expertise and <span class="bringer-accent">Experience</span><span class="bringer-accent">.</span></h4>
                        <p>Our team of professionals possesses deep expertise and years of experience across various domains, ensuring high-quality solutions for all your digital needs.</p>
                    </div><!-- .bringer-block -->
                    <!-- Card Item 02 -->
                    <div class="bringer-block">
                        <h4><span class="bringer-accent">Comprehensive</span> Services<span class="bringer-accent">.</span></h4>
                        <p>We offer a full spectrum of services, from web and e-commerce development to AI/ML projects and mobile app development, providing end-to-end solutions under one roof.</p>
                    </div><!-- .bringer-block -->
                    <!-- Card Item 03 -->
                    <div class="bringer-block">
                        <h4><span class="bringer-accent">Customer-Centric </span>Approach<span class="bringer-accent">.</span></h4>
                        <p>Your goals and satisfaction are our top priorities. We tailor our services to meet your unique needs and work closely with you to achieve the best results.</p>
                    </div><!-- .bringer-block -->


                    <!-- Card Item 04 -->
                    <div class="bringer-block">
                        <h4>Quality <span class="bringer-accent">Assurance.</span></h4>
                        <p>We adhere to strict quality standards and follow best practices to deliver solutions that exceed expectations and drive your success.</p>
                    </div><!-- .bringer-block -->

                    <!-- Card Item 04 -->
                    <div class="bringer-block">
                        <h4>Innovation <span class="bringer-accent">and Adaptability.</span></h4>
                        <p>We embrace the latest technologies and industry trends to provide innovative solutions that keep you ahead of the competition.</p>
                    </div><!-- .bringer-block -->



                    <!-- Card Item 03 -->
                    <div class="bringer-block">
                        <h4>Affordable <span class="bringer-accent">Pricing </span>Approach<span class="bringer-accent">.</span></h4>
                        <p>We offer competitive pricing without compromising on quality, ensuring you get the best value for your investment.</p>
                    </div><!-- .bringer-block -->



                    <!-- Card Item 03 -->
                    <div class="bringer-block">
                        <h4><span class="bringer-accent">Ongoing  </span>Support<span class="bringer-accent">.</span></h4>
                        <p>Our commitment to you doesn't end with project delivery. We provide ongoing support and maintenance to ensure your solutions remain effective and up-to-date.</p>
                    </div><!-- .bringer-block -->



                </div>
            </section>

            <!-- Section: Grid CTA -->
            <section class="backlight-top">
                <div class="bringer-bento-grid bringer-grid-cta">
                    <div class="is-large bringer-masked-block" data-appear="fade-right" data-unload="fade-left">
                        <div class="bringer-grid-cta-media bringer-masked-media" data-bg-src="img/cta/grid-cta-background.jpg">
                            <div class="bringer-grid-cta-heading">Need to Amplify Your Digital Presence?</div>
                        </div>
                        <div class="bringer-masked-content at-bottom-right">
                            <p class="bringer-large-text" data-appear="fade-right" data-delay="100">Let's chat about your goals &rarr;</p>
                        </div>
                    </div>
                    <div class="is-medium bringer-block" data-appear="fade-down" data-unload="fade-right">
                        <p>At PythonCoding4U, we're here to help you make a significant impact in the digital world. Whether you need a compelling website, a robust e-commerce platform, cutting-edge AI/ML solutions, or a dynamic mobile app, we have the expertise to elevate your brand and enhance your digital footprint.</p>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="100" data-unload="zoom-out">
                        <a href="https://wa.me/918603862290" class="bringer-square-button">
                            <span class="bringer-icon bringer-icon-explore"></span>
                        </a>
                    </div>
                    <div class="is-small" data-appear="zoom-out" data-delay="200" data-unload="zoom-out">
                        <img src="{% static 'img/cta/grid-cta-02.jpg' %}" alt="Let's Chat" width="960" height="960">
                    </div>
                </div>
            </section>

        </div><!-- .stg-container -->



        {% include 'footer.html' %}

        <script>


           


            $(document).ready(function() {

                $('#home').removeClass('current-menu-parent');
                $("#service").addClass('current-menu-parent');
                // URL of the service list API
                var apiUrl = "{% url 'serviceapi' %}";
    
                // Function to create the service list item HTML
                function createServiceListItem(service) {
                    return `
                        <li>
                            <div class="bringer-detailed-list-title">
                                <h4>${service.service_name}<span class="bringer-accent">.</span></h4>
                            </div>
                            <div class="bringer-detailed-list-description">
                                <p>${service.meta_description}</p>
                            </div>
                            <div class="bringer-detailed-list-button">
                                <span class="bringer-icon bringer-icon-explore"></span>
                            </div>
                            <a href="/services/${service.slug}"></a>
                        </li>
                    `;
                }
    
                // AJAX call to fetch the service data
                $.ajax({
                    url: apiUrl,
                    type: 'GET',
                    dataType: 'json',
                    success: function(services) {
                        var serviceList = $('#service-list');
                        serviceList.empty(); // Clear any existing content
                        services.forEach(function(service) {
                            serviceList.append(createServiceListItem(service));
                        });
                    },
                    error: function(xhr, status, error) {
                        console.error('Failed to fetch services:', error);
                    }
                });
            });


        </script>